


/******** TABS  ********/
.tab-label
{
    -fx-pref-width: 230;
    /* -fx-pref-height: auto; */
    -fx-background-color: GREY;
    -fx-font-size: 17;
    /*-fx-text-fill: White;*/
}

.tab:hover
{
    -fx-background-color: Black;
}

.tab:selected, .tab-label:selected
{

    -fx-background-color: RED;
    

}




/*BAKGRUNN*/
.anchorPane{
    -fx-background-color:#4234d9;
}

